**IPL SCORE PREDICTION USING MACHINE LEARNING TECHNIQUES**

Importing required libraries

In [45]:
import pandas as pd

In [46]:
df=pd.read_csv('ipl2017.csv')

In [47]:
df.head()

   mid        date                  venue  ... striker non-striker total
0    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
1    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
2    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
3    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222
4    1  2008-04-18  M Chinnaswamy Stadium  ...       0           0   222

[5 rows x 15 columns]

Droping unecessary columns

In [48]:
df=df.drop('mid',axis=1)

In [49]:
df=df.drop('date',axis=1)

USING ONE HOT ENCODING TO CONVERT THE CATEGORICAL COLUMNS TO NUMERICAL COLUMNS

In [50]:
a=pd.get_dummies(df,columns=['venue','bat_team','bowl_team','batsman','bowler'],drop_first=True)

In [51]:
a.head()

   runs  wickets  overs  ...  bowler_YS Chahal  bowler_Yuvraj Singh  bowler_Z Khan
0     1        0    0.1  ...                 0                    0              0
1     1        0    0.2  ...                 0                    0              0
2     2        0    0.2  ...                 0                    0              0
3     2        0    0.3  ...                 0                    0              0
4     2        0    0.4  ...                 0                    0              0

[5 rows x 806 columns]

In [52]:
a.shape

(76014, 806)

In [53]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Columns: 806 entries, runs to bowler_Z Khan
dtypes: float64(1), int64(7), uint8(798)
memory usage: 62.5 MB

Splitting into Feature Values and Target Values

In [54]:
x=a.drop('total',axis=1)

In [55]:
y=a['total']

Splitting into Train and Test Set

In [56]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=27)

Using Random Forest Regressor

In [57]:
from sklearn.ensemble import RandomForestRegressor

In [58]:
rf=RandomForestRegressor(n_estimators=100,random_state=0)

In [59]:
rf.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

Finding Score of Model

In [60]:
rf.score(x_test,y_test)

0.9424848059193214

Prediction of score on various feature inputs

In [71]:
df2=pd.DataFrame(x.iloc[[5650,5850]])

In [72]:
df2.to_csv('sampletest.csv')

In [66]:
rf.predict(x.loc[[600]])

array([111.53])

In [67]:
rf.predict(x.loc[[4350]])

array([136.35])

In [68]:
rf.predict(x.loc[[243]])

array([239.17])

In [73]:
data2=pd.read_csv('sampletest.csv')

In [75]:
data2.head()

   Unnamed: 0  runs  ...  bowler_Yuvraj Singh  bowler_Z Khan
0        5650    31  ...                    0              0
1        5850   128  ...                    0              0

[2 rows x 806 columns]

In [78]:
data2=data2.drop(data2.columns[0], axis=1)

In [79]:
data2.head()

   runs  wickets  overs  ...  bowler_YS Chahal  bowler_Yuvraj Singh  bowler_Z Khan
0    31        0    3.5  ...                 0                    0              0
1   128        4   15.6  ...                 0                    0              0

[2 rows x 805 columns]

In [80]:
rf.predict(data2)

array([175.2 , 176.19])